:root{
  --body-fontS:'Montserrat', sans-serif;
  --body-fontsM:'Roboto Slab', serif;
  --bg--dark: #342b27;
  --bg--ligt:#FFFFFF;
  --bg--ligt--dark: #F8F8F7;
  --golden:#BF8D60;
  --skin:#ECC8AD;
}
.SectionNavbar{
  font-family: var(--body-fontS);
  font-weight: 600;
  background: var(--bg--dark);
}
.SectionNavbar .container .collapse .navbar-nav .nav-item a {
  color: var(--bg--ligt);
}
.SectionNavbar .container .collapse .navbar-nav .nav-item a:hover {
  color: var(--golden);
}
.colorSection{
  background: var(--bg--dark);
  color: #ffff;
  padding-top: 4rem;
}
.colorSection2{
  background: var(--bg--ligt);
  color: rgb(0, 0, 0);
  padding-top: 7rem;
}
.colorSection3{
  background: var(--bg--ligt--dark);
  color: rgb(0, 0, 0);
}
h1,h2{
  font-family: var(--body-fontsM);
}
p{
  font-family: var(--body-fontS);
  font-weight: 600;
}
.imgHeader { 
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7)); 
  height: 450px;
  margin-bottom: 2rem;
}
.btn{                                 /*agregando caracteristicas a todos las clases ***btn**botones***/
  font-family: var(--body-fontS);
  font-weight: 600;
  margin-top: 1rem;
  display: inline-block;              /*que se vea en linea con los elementos q estan antes, en un solo bloque*/
  padding: .9rem 2rem;
  border-radius: 50px;
  background: var(--skin);
  cursor: pointer;
  color: rgb(0, 0, 0);
}
.btn:hover{                           /*todos los botones ban a tener esa clase*/
  letter-spacing: .2rem;
  text-shadow: 1px 1px var(--skin) ;
}
.btn2{                                 /*agregando caracteristicas a todos las clases ***btn**botones***/
  font-family: var(--body-fontS);
  font-weight: 600;
  margin-top: 1rem;
  display: inline-block;              /*que se vea en linea con los elementos q estan antes, en un solo bloque*/
  padding: .7rem 2rem;
  border-radius: 50px;
  background: var(--bg--ligt);
  cursor: pointer;
  border-color: var(--skin);
}
.btn2:hover:hover{                           /*todos los botones ban a tener esa clase*/
  letter-spacing: .1.5rem;
  text-shadow: 1px 1px var(--skin);
  background: var(--skin);
  border-color: var(--bg--dark);
}
#ourPets{
  padding-top: 7rem;
}
.container-icon {
font-size: 83px;
color: var(--skin);
}
.borde-icono {
  width: 50px;
  border: solid 4px var(--skin);
  border-radius: 50%;
}
.alturaIcono {
  font-size: 30px !important;
}
.borde-icono:hover{
  background: var(--skin);
}
.contactFont{
  font-family: var(--body-fontS);
  font-weight: 600;
  text-shadow: 1px 1px;
}
.colorFooter {
  color: var(--golden);
}
.colorTextfooter {
  color: var(--golden);
}
.colorTextfooter :hover{
  color: var(--bg--ligt--dark);
}
